# Node dependencies
node_modules/
dist/*
!dist/HeadsetConnect.exe
!dist/HeadsetConnect-Windows.zip
dist-ssr/
*.local

# Python caches and compiles
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Application specific files
backend/profiles.json
backend/uploads/*
!backend/uploads/.gitkeep

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# PyInstaller build artifacts
build/
*.spec

